.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background:#31cda0;
  display: block;
  position: relative;
  overflow: hidden;
}
.hide{
  display: none !important;
}
.paused {
  animation-play-state: paused;
}
.gameTime{
  position: fixed;
  top: 5vh;
  right:2vw;
  padding: 3px;
  border-radius: 50%;
  background-color: rgba(97, 95, 95, 0.685);
}
.gameOver{
  animation-play-state:paused !important;
}
.playerImage{
  width: 33.3vw;
position: absolute;
}

.startBox{
  position: fixed;
  top:30vh;
  width: 100vw;
  height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color:#e4e4e5;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}
.target{
  font-weight: 900;
}
.startBtn{
  background-color: #e4e5e6;
  padding: 6px;
  color:brown;
  font-size: large;
  font-weight: bold;
  border-radius: 18%;

}

.bounceBtn{
  animation-name: likes; 
  animation-direction: alternate; 
  animation-timing-function: linear; 
  animation-delay: 0s; 
  animation-iteration-count: infinite; 
  animation-duration: 1s; 
}

@keyframes likes {
   0%{
        transform: scale(1);
     }
     25%{
        transform: scale(0.9);
     }
     50%{
        transform: scale(0.85);
     }
     75%{
        transform: scale(0.9);
     }
     100%{
        transform: scale(1);
     }
}

.playBox{
  height: 2000vh;
  width: 100vw;
  position: absolute;

  display: flex;
  flex-direction: column-reverse;
  animation-name:slide;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.imgWrapper{
  position: relative;
  width: 100vw;
}
@keyframes slide {
  0%{
    top:-2000vh
  }
  100%{
    top:0vh
  }
}

.ggBox{
  display: flex;
  position: fixed;
  top:30vh;
  width: 100vw;
  height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(179, 37, 2);
  color:rgb(29, 29, 29);
  z-index: 10;
}

.cardBox{
  position: fixed;
  width: 10vw;
  height: 10vh;
  bottom: 10vh;
  left: 18vw;
  background-color: yellow;
  animation-name:floataway;

  animation: run-right-right 0.4s 0s 1 linear, run-right-top 0.4s 0s 1 cubic-bezier(.66,.1,1,.41);

  animation-fill-mode: forwards;

}
@keyframes run-right-top {
  0% {
    bottom: 10vh;
  }

  100% {
    bottom: 40vh;
  }
}
@keyframes run-right-right {
  0% {
    left: 18vw;
  }

  100% {
    left: 60vw;
    transform: scale(0.45);
  }
}
.retryBtn{
  background-color: #eaebe4;
  padding: 6px;
  margin-top: 5vh;
  font-weight: 900;
  font-size: larger;
  border-radius: 30%;
}